
# the application's requirements need to be pulled in
--constraint requirements_app.txt

# tools
pyyaml

# tests
coverage
docker
jsonschema
pytest
pytest-cookies
pytest-cov
pytest-instafail
pytest-mock
pytest-sugar
pyyaml