pandas~=0.23
pylint~=2.3.1
dash~=0.43.0
dash-daq~=0.1.0
git+https://github.com/ITISFoundation/osparc-simcore.git@master#subdirectory=packages/simcore-sdk
git+https://github.com/ITISFoundation/osparc-simcore.git@master#subdirectory=services/storage/client-sdk/python
git+https://github.com/ITISFoundation/osparc-simcore.git@master#subdirectory=packages/postgres-database
