version: '3.4'
services:
  simcore-paraviewweb:
    build:
      target: development
    environment:
      - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - SIMCORE_NODE_BASEPATH=${SIMCORE_NODE_BASEPATH}
      - SIMCORE_HOST_NAME=${SIMCORE_HOST_NAME}
      - TEST_DATA_PATH=/home/root/test-data
      - SERVER_PORT=${SERVER_PORT}      
      - PARAVIEW_DEBUG=1
    depends_on:
      - postgres
      - minio
    volumes:
      - ./simcoreparaviewweb/devel:/home/root/devel
      - ../../services:/home/root/services
      - ../../scripts/dy_services_helpers:/home/root/scripts/dy_services_helpers
      - ./test-data:/home/root/test-data
      - ./visualizer-data:/data
      - ./simcoreparaviewweb/docker:/home/root/docker
      - ./simcoreparaviewweb/config:/home/root/config
      - ./simcoreparaviewweb/handlers:/home/root/handlers
  #--------------------------------------------------------------------
  apihub:
    image: itisfoundation/apihub:staging-latest
    ports:
      - '8043:8043'
  #--------------------------------------------------------------------
  storage:
    image: itisfoundation/storage:latest
    ports:
      - 11111:8080
    environment:
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_SECURE=${S3_SECURE}
      - RUN_DOCKER_ENGINE_ROOT=1
      - BF_API_SECRET=none
      - BF_API_KEY=none
      - APIHUB_HOST=${APIHUB_HOST}
      - APIHUB_PORT=${APIHUB_PORT}
    restart: always
    depends_on:
      - postgres
  #--------------------------------------------------------------------
  postgres:
    image: postgres:10
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
  #--------------------------------------------------------------------
  adminer:
    image: adminer
    ports:
      - 18080:8080
    depends_on:
      - postgres
  #--------------------------------------------------------------------
  minio:
    image: minio/minio
    environment:
      - MINIO_ACCESS_KEY=${S3_ACCESS_KEY}
      - MINIO_SECRET_KEY=${S3_SECRET_KEY}
    ports:
      - "9001:9000"
    command: server /data
