services:
  cc-rabbit-0d:
    build:
      args:
        APP_NAME: cc-rabbit-0d.py
      context: ./
      dockerfile: src/Dockerfile
      labels:
        io.simcore.authors: '{"authors": [{"name": "odeimaiz", "email": "maiz@itis.swiss",
          "affiliation": "ITIS Foundation"}]}'
        io.simcore.contact: '{"contact": "maiz@itis.swiss"}'
        io.simcore.description: '{"description": "Graph viewer for data generated
          by Rabbit SS and Human GB 0D cardiac models"}'
        io.simcore.inputs: '{"inputs": {"vm1Hz": {"label": "VM 1Hz", "displayOrder":
          0, "description": "VM 1Hz", "type": "data:text/plain", "fileToKeyMap": {"vm_1Hz.txt":
          "vm1Hz"}}}}'
        io.simcore.key: '{"key": "simcore/services/dynamic/cc-0d-viewer"}'
        io.simcore.name: '{"name": "0D cardiac model viewer"}'
        io.simcore.outputs: '{"outputs": {"output_1": {"label": "Action potential",
          "displayOrder": 0, "description": "Action potential csv", "type": "data:text/csv",
          "fileToKeyMap": {"Membrane_Potential.csv": "output_1"}}, "output_2": {"label":
          "Calcium cytosol", "displayOrder": 1, "description": "Calcium cytosol csv",
          "type": "data:text/csv", "fileToKeyMap": {"I_ca.csv": "output_2"}}}}'
        io.simcore.type: '{"type": "dynamic"}'
        io.simcore.version: '{"version": "3.0.4"}'
        org.label-schema.build-date: ${BUILD_DATE}
        org.label-schema.schema-version: '1.0'
        org.label-schema.vcs-ref: ${VCS_REF}
        org.label-schema.vcs-url: https://github.com/ITISFoundation/osparc-services
        simcore.service.settings: '[ {"name": "ports", "type": "int", "value": 8888},
          {"name": "constraints", "type": "string", "value": ["node.platform.os ==
          linux"]} ]'
      target: production
    image: ${DOCKER_REGISTRY}/cc-0d-viewer:${DOCKER_IMAGE_TAG}
    init: true
    ports:
    - 1240:8888
    volumes:
    - ./validation/input:/home/jovyan/input
    - ./validation/output:/home/jovyan/output
version: '3.7'
