services:
  cc-rabbit-0d:
    build:
      context: ./
      dockerfile: src/Dockerfile
      labels:
        io.simcore.authors: '{"authors": [{"name": "odeimaiz", "email": "maiz@itis.swiss",
          "affiliation": "ITIS Foundation"}]}'
        io.simcore.contact: '{"contact": "maiz@itis.swiss"}'
        io.simcore.description: '{"description": "cc-rabbit-0d"}'
        io.simcore.inputs: '{"inputs": {"vm_1Hz": {"label": "vm 1Hz", "displayOrder":
          0, "description": "Computed values from the solver", "type": "data:*/*"},
          "all_results_1Hz": {"label": "all results 1Hz", "displayOrder": 1, "description":
          "Computed values from the solver", "type": "data:*/*"}}}'
        io.simcore.key: '{"key": "simcore/services/dynamic/cc-rabbit-0d"}'
        io.simcore.name: '{"name": "cc-rabbit-0d"}'
        io.simcore.outputs: '{"outputs": {"output_1": {"label": "Membrane Potential",
          "displayOrder": 0, "description": "Membrane Potential csv", "type": "data:text/csv"},
          "output_2": {"label": "LCC current", "displayOrder": 1, "description": "LCC
          current csv", "type": "data:text/csv"}, "output_3": {"label": "CaSRT", "displayOrder":
          2, "description": "CaSRT csv", "type": "data:text/csv"}, "output_4": {"label":
          "Ca Dyad", "displayOrder": 3, "description": "Ca Dyad csv", "type": "data:text/csv"},
          "output_5": {"label": "Ca sl", "displayOrder": 4, "description": "Ca sl
          csv", "type": "data:text/csv"}, "output_6": {"label": "Cai", "displayOrder":
          5, "description": "Cai csv", "type": "data:text/csv"}, "output_7": {"label":
          "Ito", "displayOrder": 6, "description": "Ito csv", "type": "data:text/csv"},
          "output_8": {"label": "INa", "displayOrder": 7, "description": "INa csv",
          "type": "data:text/csv"}, "output_9": {"label": "IKs", "displayOrder": 8,
          "description": "IKs csv", "type": "data:text/csv"}, "output_10": {"label":
          "ICFTR", "displayOrder": 9, "description": "ICFTR csv", "type": "data:text/csv"},
          "output_11": {"label": "IKr", "displayOrder": 10, "description": "IKr csv",
          "type": "data:text/csv"}, "output_12": {"label": "IK1", "displayOrder":
          11, "description": "IK1 csv", "type": "data:text/csv"}, "output_13": {"label":
          "Naj", "displayOrder": 12, "description": "Naj csv", "type": "data:text/csv"},
          "output_14": {"label": "Nas", "displayOrder": 13, "description": "Nas csv",
          "type": "data:text/csv"}, "output_15": {"label": "Nal", "displayOrder":
          14, "description": "Nal csv", "type": "data:text/csv"}, "output_16": {"label":
          "Incx", "displayOrder": 15, "description": "Incx csv", "type": "data:text/csv"},
          "output_17": {"label": "JRyR", "displayOrder": 16, "description": "JRyR
          csv", "type": "data:text/csv"}, "output_18": {"label": "Passive Leak", "displayOrder":
          17, "description": "Passive Leak csv", "type": "data:text/csv"}, "output_19":
          {"label": "SR Ca release", "displayOrder": 18, "description": "SR Ca release
          csv", "type": "data:text/csv"}}}'
        io.simcore.type: '{"type": "dynamic"}'
        io.simcore.version: '{"version": "0.1.0"}'
        org.label-schema.build-date: ${BUILD_DATE}
        org.label-schema.schema-version: '1.0'
        org.label-schema.vcs-ref: ${VCS_REF}
        org.label-schema.vcs-url: https://github.com/odeimaiz
      target: production
    command: run
    environment:
    - INPUT_FOLDER=/input
    - OUTPUT_FOLDER=/output
    - LOG_FOLDER=/log
    image: ${DOCKER_REGISTRY}/simcore/services/dynamic/cc-rabbit-0d:latest
    volumes:
    - ./validation/input:/input
    - ./tmp/output:/output
    - ./tmp/log:/log
version: '3.6'
