._dash-loading-callback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(190, 190, 190, 0.25);
}

._dash-loading-callback::after {
  content: url('./Loading.gif');
  left: calc(50% - 75px);
  /* content: url('./S4L_Busy.png');
  /* left: calc(50% - 175px); */
  top: calc(50% - 155px);
  display: block;
  position: relative;
}
