# tools
pyyaml

# tests
coverage==4.5.1 # TODO: Downgraded because of a bug https://github.com/nedbat/coveragepy/issues/716
docker
jsonschema
pytest~=5.3.5  # Bug in pytest-sugar https://github.com/Teemu/pytest-sugar/issues/187
pytest-cookies
pytest-cov
pytest-instafail
pytest-mock
pytest-sugar
pyyaml
